@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

div {
  box-sizing: border-box;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
